:root {
  --violet-light: #808ee0;
  --violet: #3e4699;
  --violet-dark: #3e4598;
  --purple: #d92cff;
  --gray: #b2b2b2;
  --gray-light: #E5E5E5;

  --container-width: 952px;

  --md-width: 768px;
  --lg-width: 1024px;
  --xl-width: 1240px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
